/*
SPDX-FileCopyrightText: Wolfgang Silbermayr <wolfgang@silbermayr.at>
SPDX-License-Identifier: EUPL-1.2
*/

@define-color bg_color_darker darker(@theme_bg_color);
@define-color bg_color_lighter lighter(@theme_bg_color);

.sidebar {
  background: #33333333;
}

.info {
  background: #3483e4;
  color: #ffffff;
  border-radius: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.timer {
  border-radius: 3px;
  padding-left: 10px;
  padding-right: 10px;
}

.card {
  background: @card_bg_color;
  color: @card_fg_color;
}

.user_view {
  background: #90909040;
  border-radius: 10px;
}

.user_view_participant_info {
  background: #90909060;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 3px 3px 0px 0px;
}

.user_view_hand_indicator {
  background: @accent_bg_color;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 7px;
  padding-bottom: 7px;
  border-radius: 100%;
}

.splash{
  background: linear-gradient(@bg_color_lighter, @bg_color_darker);
}

.large {
  font-size: 200%;
}

.alert {
  color: #cc3333;
}

.unread_indicator {
  background: @accent_bg_color;
  color: @accent_fg_color;
  font-size: 60%;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 5px;
}

.all_read_indicator {
  background: @window_bg_color;
  color: @window_fg_color;
  font-size: 60%;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 5px;
}
